{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Employee Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>

          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          
          
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{ name }}</h1>

          <div class="row placeholders">
            <p></p>
          </div>

          <h2 class="sub-header">Employee Details</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Employee_id</th>
                  <th>First Name</th>
                  <th>Second Name</th>
                  <th>Permanent Address</th>
                  <th>Phone number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Aman</td>
                  <td>kumar</td>
                  <td>UTTAR PRADESH</td>
                  <td>9874646</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amit</td>
                  <td>singh</td>
                  <td>Noida</td>
                  <td>78643747</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Nandu</td>
                  <td>Yadav</td>
                  <td>Odisha</td>
                  <td>844834</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>nitesh</td>
                  <td>singh</td>
                  <td>Gorakhpur</td>
                  <td>745467546</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>Krishna</td>
                  <td>kumar</td>
                  <td>Delhi</td>
                  <td>487584</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Ananya</td>
                  <td>Dixit</td>
                  <td>Noida</td>
                  <td>6666666</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>Ansh</td>
                  <td>Singh</td>
                  <td>Gorakhpur</td>
                  <td>99999999</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>Satish</td>
                  <td>Ojha</td>
                  <td>Bihar</td>
                  <td>888888</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Rajnish</td>
                  <td>Maurya</td>
                  <td>Delhi</td>
                  <td>7777777</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>Sohan</td>
                  <td>Nayak</td>
                  <td>MP</td>
                  <td>M66666</td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}